---
{
"stream": {
"$id": "blog-details-page",
"source": "knowledgeGraph",
"destination": "pages",
"filter": {
"entityTypes": [
"ce_marketingBlog"
]
},
"fields":[
"id",
"uid",
"meta",
"name",
"c_arrivalButton",
"slug",
"shortDescription",
"photoGallery",
"c_richTextDescription"
],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{name}}</title>
  <meta name="description" content=Category page for {{name}}.>
  {{>head}}

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">

</head>
{{!-- <div class="container mx-auto px-4"> --}}
  <body>
    {{>nav}}
    
    <div class="w-full py-10 lg:py-20">
      <div class="centered-container flex flex-col lg:flex-row-reverse">
        <div class="w-full lg:hidden">
          <h2 class="text-gray-900 text-2xl md:text-4xl font-bold mb-6">{{name}}</h2>
        </div>
        <div class="w-full lg:w-1/2 lg:px-4">
          <img class="w-full" src="{{photoGallery.[0].image.url}}" alt="" />
        </div>
        <div class="flex flex-col justify-start w-full lg:w-1/2 lg:px-4 pt-8 lg:pt-0">
          <h2 class="text-gray-900 text-4xl font-bold mb-6 hidden lg:block">{{name}}</h2>
          <p class="text-gray-600 text-xs">{{convertRTFToHTML c_richTextDescription}}</p>
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>