---
{
"stream": {
"$id": "ce_drupalDSLocationFAQs",
"source": "knowledgeGraph",
"destination": "pages",
"filter": {
"entityTypes": [
"location"
],
"savedFilterIds":[
"946153154"
]
},
"fields": [
"id",
"uid",
"meta",
"name",
"slug",
"c_relatedFAQs.name",
"c_relatedFAQs.slug",
"c_relatedFAQs.description"
],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "faq-{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="Luc's Fashion Warehouse Home Page">
  {{>head}}
  {{!--
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> --}}
  <!--Replace with your tailwind.css once created-->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
  </script>


  <style type="text/css">
    a:hover {
      text-decoration: underline;
    }

    .accordion-sec .accordion-btn[aria-expanded="true"] svg {
      @apply top-0;
    }

    .block {
      display: none;
    }
  </style>
</head>

<body>
  {{>nav}}

  <div class="w-full py-10">
    <div class="centered-container grid grid-cols-1 md:grid-cols-2">
      <div class="">
        <h3 class="pb-8 text-3xl">FAQ's</h3>
        <div id="accordion-collapse" data-accordion="collapse">
          {{#each c_relatedFAQs}}
          <div class="block accordion-sec mb-5">
            <h2 id="accordion-collapse-heading-1-{{slug}}">
              <button type="button" class="accordion-btn" data-accordion-target="#{{slug}}" aria-expanded="false"
                aria-controls="accordion-collapse-body-1">
                <span>{{name}}</span>
                <svg class="" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                </svg>
              </button>
            </h2>
            <div id="{{slug}}" class="hidden accordion-body" aria-labelledby="accordion-collapse-heading-1-{{slug}}">
              <div class="">
                {{convertRTFToHTML description}}
                <a href="{{slug}}"
                  class="inline-block text-[#02aab0] text-[17px] font-medium py-2.5 relative after:content-[''] after:absolute after:-bottom-1 after:left-0 after:bg-[#02aab0] after:h-1 after:w-full after:transition-all after:duration-300 after:transform after:scale-x-0 after:origin-bottom-left hover:after:scale-100 hover:after:origin-bottom-right hover:no-underline">
                  Read More <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          {{/each}}
        </div>


        <div class="w-full text-center" id="load">
          <button type="button" class="cus_btn">Load More <i class="fa fa-refresh"></i></button>
        </div>
      </div>
      <div class="md:pl-10 mt-10 md:mt-0">
        <img class="m-auto w-full max-w-lg" src="images/faq.png" alt="">
      </div>
    </div>
  </div>
  {{>footer}}
  <script>
    $(document).ready(function () {
      $(".block").slice(0, 2).show();
      if ($(".block:hidden").length != 0) {
        $("#load").show();
      }
      $("#load").on("click", function (e) {
        e.preventDefault();
        $(".block:hidden").slice(0, 2).slideDown();
        if ($(".block:hidden").length == 0) {
          $("#load").text("No More to view")
            .fadOut("slow");
        }
      });
    })
  </script>
</body>

</html>