---
{
"stream": {
"$id": "detailed-location3",
"source": "knowledgeGraph",
"destination": "pages",
"filter" : {
"entityTypes": [
"location"
],
"savedFilterIds":[
"946153154"
]
},
"fields": [
"id",
"uid",
"meta",
"name",
"address",
"slug",
"mainPhone",
"c_relatedFAQs.name",
"c_relatedFAQs.slug",
"c_relatedFAQs.description",
"description",
"hours",
"photoGallery",
"geocodedCoordinate",
"c_paymentMenthod",
"yextDisplayCoordinate",
"services"
],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="fr">

<head>
    {{>head }}
    <title>{{name}} - {{neighborhood}}</title>
    {{>schema}}
    <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png" />
    <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
    <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script>
    <style>
        .rotatesvg {
            -moz-transition: all .2s linear;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }

        .rotatesvg.down {
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    </style>
</head>

<body>
    {{>nav}}

    <div class="w-full">
        <div class="centered-container">
            <div class="flex flex-wrap">
                <div class="section w-[360px] bg-green bg-opacity-10 p-7">{{>locationdetails}} </div>
                <div class="section w-[calc(100%_-_360px)]">{{>aboutmap}}</div>
            </div>
        </div>
        <div class="w-full bg-gray-100 pb-20">
            <div class="centered-container">

                <h2 class="sec-heading !pt-16 !text-4xl !mb-10 text-center">Frequently Ask Questions</h2>
                {{!-- faq start --}}
                <div class="faq-sec">
                    <div id="accordion-collapse" data-accordion="collapse">
                        {{#each c_relatedFAQs}}
                        <div class="accordion-sec mx-auto max-w-[900px] mb-5">
                            <h2 id="accordion-collapse-heading-1-{{slug}}">
                                <div class="h-16 bg-gradient-to-r from-[#02aab0] to-[#00caac] align-middle text-center">
                                    <button type="button" class="accordion-btn p-4 pl-2"
                                        data-accordion-target="#{{slug}}" aria-expanded="false"
                                        aria-controls="accordion-collapse-body-1">
                                        <span class="text-white text-lg">{{name}}</span>
                                        <svg class="rotatesvg" enable-background="new 0 0 50 50" height="40px"
                                            id="Layer_1" version="1.1" viewBox="0 0 50 50" width="40px"
                                            xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <rect fill="none" height="50" width="50" />
                                            <line fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="4"
                                                x1="9" x2="41" y1="25" y2="25" />
                                            <line fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="4"
                                                x1="25" x2="25" y1="9" y2="41" />
                                        </svg>
                                    </button>
                                </div>
                            </h2>
                            <div id="{{slug}}" class="hidden accordion-body"
                                aria-labelledby="accordion-collapse-heading-1-{{slug}}">
                                <div class="">
                                    {{convertRTFToHTML description}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                </div>
                {{!-- faq end --}}



                <div class="text-center mt-10 w-full">
                    <a class="cus_btn" href="faq-{{slug}}">View More</a>
                </div>

            </div>
        </div>






        <div class="section">
            <div class="centered-container">
                {{>nearby geocodedCoordinate}}
            </div>

        </div>

    </div>
    {{>footer}}









    <script>
        $(".rotatesvg").click(function () {
            $(this).toggleClass("down");
        })
    </script>
</body>

</html>